:root {
  /* Color */
  --CLR-White: #fff;
  --CLR-White-40T: #ffffff66;
  /*  */
  --CLR-Primary-1: #fffaeb;
  --CLR-Primary-2: #fceec5;
  --CLR-Primary-3: #f9da8b;
  --CLR-Primary-4: #e9b949;
  --CLR-Primary-4-70T: #e9b949cc;
  --CLR-Primary-5: #513c06;
  /*  */
  --CLR-Gray-1: #f1f5f8;
  --CLR-Gray-2: #617d98;
  --CLR-Gray-3: #102a42;
  --CLR-Gray-4: #222222;
  /*  */
  --CLR-Black: #000;

  /* Border Widths */
  --border-small: 2px;
  --border-normal: 4px;

  /* Shadows */
  --light-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  --button-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  /* Border Radii */
  --BR-small: 0.8rem;
  --BR-normal: 1.6rem;
  --BR-large: 3.2rem;
  --BR-pill-circle: 1000px;

  /* Containers */
  --main-container: 120rem;
  --secondary-container: 60rem;
  /* ============ */
  /* === Font === */
  /* ============ */
  /* Families */
  --FF-heading: "Roboto";
  --FF-body: "Open Sans";
  /* Sizes */
  --FS-x-small: 1.4rem;
  --FS-small: 1.6rem;
  --FS-normal: 2rem;
  --FS-medium: 2.4rem;
  --FS-large: 3.2rem;
  --FS-x-large: 4rem;
  --FS-xx-large: 4.8rem;
  --FS-xxx-large: 6.4rem;
  /* Styles */
  --FW-bold: 700;
  --FW-regular: 400;
  /* Line-Heights */
  --LH-normal: 1;
  --LH-large: 1.6;

  /* Letter-Spacing */
  --LS-normal: 0;
  --LS-large: 4px;

  /* ============ */
  /* = Spacing = */
  /* ============ */
  --SP-xxx-small: 0.8rem;
  --SP-xx-small: 1.2rem;
  --SP-x-small: 1.6rem;
  --SP-small: 2.4rem;
  --SP-normal: 3.2rem;
  --SP-medium: 4rem;
  --SP-large: 4.8rem;
  --SP-x-large: 6.4rem;
  --SP-xx-large: 8rem;

  /* Transition */
  --transition: all 0.3s ease-out;
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--FF-body), sans-serif;
  font-size: var(--FS-small);
  font-weight: var(--FW-regular);
  line-height: var(--LH-large);
  color: var(--CLR-Gray-2);
  background-color: var(--CLR-White);
}

img {
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
a {
  font-family: var(--FF-heading), monospace;
  font-weight: var(--FW-bold);
  color: var(--CLR-Gray-3);
  line-height: var(--LH-normal);
  letter-spacing: var(--LS-large);
  text-transform: capitalize;
}
/*=== Utilities ===*/

.section {
  padding: var(--SP-xx-large) var(--SP-normal);
}

.container {
  max-width: var(--main-container);
  margin: 0 auto;
}

.secondary-container {
  max-width: var(--secondary-container);
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: 1fr 1fr;

  place-items: center center;
  place-content: center center;
}

.grid-3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}

.bg-primary-1 {
  background-color: var(--CLR-Primary-1);
}

.bg-primary-2 {
  background-color: var(--CLR-Primary-2);
}

.bg-gray-1 {
  background-color: var(--CLR-Gray-1);
}

.bg-gray-4 {
  background-color: var(--CLR-Gray-4);
}

.dec-line {
  width: 100px;
  height: 4px;
  background-color: var(--CLR-Primary-4);
  border-radius: var(--BR-pill-circle);
  transition: var(--transition);
}

.dec-line.small {
  width: 50px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: var(--SP-xx-small) var(--SP-x-small);
  background-color: var(--CLR-Primary-4);
  border-radius: var(--BR-small);
  color: var(--CLR-Primary-5);
  text-transform: uppercase;
  transition: var(--transition);
}

.btn:hover,
.btn:active {
  background-color: var(--CLR-Primary-3);
}

.mt-xx-small {
  margin-top: var(--SP-xx-small);
}

.mb-xx-small {
  margin-bottom: var(--SP-xx-small);
}

.mb-x-small {
  margin-bottom: var(--SP-x-small);
}

.mb-small {
  margin-bottom: var(--SP-small);
}

.mb-normal {
  margin-bottom: var(--SP-normal);
}

.mb-large {
  margin-bottom: var(--SP-large);
}

.mb-x-large {
  margin-bottom: var(--SP-x-large);
}

.center {
  margin-left: auto;
  margin-right: auto;
}
/*=== Utilities ===*/

/* Navbar */

.nav {
  height: 8rem;
  padding: 0 var(--SP-normal);
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: var(--CLR-White-40T);
}

.nav-flex {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 4rem;
}

.nav-list {
  display: flex;
  gap: var(--SP-x-large);
}

.nav-link {
  transition: var(--transition);
}

.nav-link:hover,
.nav-link:active {
  color: var(--CLR-Primary-4);
}
/* Navbar End */

/* Header */

.hero {
  height: 100vh;
}

.hero .container {
  height: 100%;
}

.h1 {
  font-size: var(--FS-xxx-large);
  margin-bottom: var(--SP-x-small);
}

.hero-content p {
  font-size: var(--FS-normal);
  letter-spacing: var(--LS-large);
  margin-bottom: var(--SP-normal);
}

.hero-content .btn {
  margin-bottom: var(--SP-large);
}

.social-list {
  display: flex;
  gap: var(--SP-normal);
}

.social-icon {
  display: block;
  fill: var(--CLR-Gray-3);
  transition: var(--transition);
}

.social-icon:hover {
  fill: var(--CLR-Primary-4);
}

.bleed-img {
  width: 100%;
  max-width: 32rem;
  position: relative;
  isolation: isolate;
}

.bleed-img img {
  border-radius: var(--BR-normal);
}

.bleed-img::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: var(--border-normal) solid var(--CLR-Primary-4);
  border-radius: var(--BR-normal);
  transform: translate(4rem, 4rem);
}
/* Header End */

/* About */

.h2 {
  font-size: var(--FS-x-large);
}

.about .bleed-img::before {
  transform: translate(-4rem, 4rem);
}

.about-content p {
  margin-bottom: var(--SP-small);
}
/* About End */

/* Services */

.services {
  text-align: center;
}

.services-list.grid {
  gap: var(--SP-normal);
}

.service {
  background-color: var(--CLR-White);
  padding: var(--SP-large) var(--SP-small);
  border-radius: var(--BR-normal);
  transition: var(--transition);
}

.service svg {
  height: 3.2rem;
  fill: var(--CLR-Gray-3);
  transition: var(--transition);
}

.h4 {
  font-size: var(--FS-small);
  transition: var(--transition);
}

.service:hover {
  background-color: var(--CLR-Primary-4);
  color: var(--CLR-White);
}

.service:hover h4 {
  color: var(--CLR-White);
}

.service:hover svg {
  fill: var(--CLR-White);
}

.service:hover .dec-line {
  background-color: var(--CLR-White);
}
/* Services End */

/* Workks */

.works {
  text-align: center;
}

.work {
  border-radius: var(--BR-normal);
  overflow: hidden;
  position: relative;
}

.works-list.grid {
  gap: var(--SP-x-small);
  grid-auto-rows: 20rem;
}

/* height,width 100% to cover */
.work img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.work:nth-child(1) {
  grid-row: span 2;
}

.work:nth-child(2) {
  grid-column: span 2;
}

.work-content {
  position: absolute;
  inset: 0;
  background-color: var(--CLR-Primary-4-70T);
  color: var(--CLR-White);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--SP-xxx-small);
  opacity: 0;
  transition: var(--transition);
}

.work-content::after {
  content: "";
  position: absolute;
  inset: 0;
  border: var(--border-small) solid var(--CLR-White);
  border-radius: var(--BR-normal);
  transition: var(--transition);
}

.work-content:hover {
  opacity: 1;
}

/* imediatly after hover */
.work-content:hover.work-content::after {
  inset: 4rem;
}

.work-content .h4 {
  color: var(--CLR-White);
}
/* Workks End */

/* Contact */

.contact {
  height: 100rem;
  padding: var(--SP-xx-large) 0;
  background: linear-gradient(var(--CLR-White-40T), var(--CLR-White-40T))
      content-box,
    url(../images/project-1.jpeg) content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  clip-path: polygon(50% 10%, 100% 18%, 100% 82%, 50% 90%, 0 82%, 0 18%);
}

.contact-flex {
  height: 100%;
  display: flex;
  align-items: center;
}

.contact-content {
  text-align: center;
  padding: var(--SP-x-large);
}

.contact-content p {
  margin-bottom: var(--SP-small);
}
/* Contact End */

/* Skills */

.skills {
  text-align: center;
}

.skills .grid {
  gap: var(--SP-large);
  justify-items: stretch;
}

.h3 {
  font-size: var(--FS-medium);
}

.skills .h3 {
  color: var(--CLR-Primary-5);
  margin-bottom: var(--SP-normal);
  text-align: left;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: var(--SP-normal);
}

.skill-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--SP-xxx-small);
  width: attr(data-progress type(<percentage>));
}

.skill-content p {
  line-height: var(--LH-normal);
  color: var(--CLR-Primary-5);
  text-transform: uppercase;
}

.skill-content p:last-child {
  transform: translate(1.6rem);
}

.progress-bar {
  height: 1.6rem;
  background-color: var(--CLR-White);
  border-radius: var(--BR-pill-circle);
}

.progress {
  height: 1.6rem;
  width: attr(data-progress type(<percentage>));
  background-color: var(--CLR-Primary-4);
  border-radius: var(--BR-pill-circle);
}
/* Skills End */

/* Timeline */

.timeline .h2 {
  text-align: center;
}

.time-point {
  padding: var(--SP-x-large) 0;
  position: relative;
}

.time-point.right {
  padding-right: var(--SP-normal);
  margin-left: var(--SP-normal);
  border-top: var(--border-small) dashed var(--CLR-Primary-4);
  border-right: var(--border-small) dashed var(--CLR-Primary-4);
  border-radius: 0 var(--BR-large) var(--BR-large) 0;
}

.time-point.left {
  margin-right: var(--SP-normal);
  padding-left: var(--SP-normal);
  border-top: var(--border-small) dashed var(--CLR-Primary-4);
  border-left: var(--border-small) dashed var(--CLR-Primary-4);
  border-radius: var(--BR-large) 0 0 var(--BR-large);
}

.time-point.first {
  border-top: none;
  border-top-right-radius: 0;
}

.time-point.last {
  border-bottom-left-radius: 0;
}

.index {
  height: 3.2rem;
  width: 3.2rem;
  background-color: var(--CLR-Primary-4);
  color: var(--CLR-Primary-5);
  border-radius: var(--BR-pill-circle);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: var(--LH-normal);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.right .index {
  right: 0;
  transform: translateX(50%);
}

.left .index {
  left: 0;
  transform: translateX(-50%);
}
/* Timeline End */

/* Blog */

.blog .h2 {
  text-align: center;
}

.blog-posts.grid {
  gap: var(--SP-small);
}

.post {
  background-color: var(--CLR-White);
  border-radius: var(--BR-normal);
  overflow: hidden;
}

.post-img {
  height: 20rem;
  margin-bottom: var(--SP-x-small);
}

.post-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.post-content {
  padding: 0 var(--SP-small) var(--SP-normal);
}

.post-content > p {
  margin-bottom: var(--SP-x-small);
}

.post-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-img {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: var(--BR-pill-circle);
  overflow: hidden;
}

.profile-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reading-time {
  line-height: var(--LH-normal);
  color: var(--CLR-Primary-4);
  text-transform: uppercase;
}

/* Blog End */

/* Footer */

.footer {
  text-align: center;
}

.footer .social-list {
  justify-content: center;
}

.footer .social-icon {
  fill: var(--CLR-Primary-4);
}

.footer .social-icon:hover {
  fill: var(--CLR-Primary-1);
}

/* Footer End */
